.THIS .zero-radius {
    border-radius: 0px !important;
    margin: 0px !important;
}

.THIS .slds-button {
    margin-left: 0 !important;
}

.THIS .tab-selected {
    border-bottom: 4px #0070d2 solid;
}

.THIS.fidget-spinner {
    position: fixed;
}

.THIS {
    min-width: 80em !important;
}